.header {
    background-color: rgb(186, 186, 220);
    padding: 20px;
    border-radius: 10px;
   
   
}


.navmenu {
    
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    
  

}




.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


a {
    color: #b5f9ab;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    border-bottom: none;
    font-size: 30px;
}


a:hover {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}


a:active {
    background-color: #0056b3;
    color: white;
    border-color: #003366;
}

a {
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.logo {

    color: white;
    font-size: 40px;

}